In [4]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

with open(r'E:\Django\recommend\BTM-master\BTM\output\model\k10.pw_z','r')as f:
    rows=f.readlines()

In [5]:
df=pd.DataFrame([row.strip().split(' ') for row in rows])
X=df.T
X

,0,1,2,3,4,5,6,7,8,9
0,0.0015756513581970757,0.0014740704165960867,0.0007257608636189573,0.0012381589500412105,0.0008988375285352709,0.0007111289824153812,0.001296988105399683,0.00101149494440538,0.0013759132127392952,0.0017226075008410378
1,4.738350106492919e-05,0.00011172660859285743,4.741151370375098e-05,0.00013675188403440233,0.00019932380339903496,6.329420262335854e-05,2.5865859651845528e-05,5.64030638144264e-05,0.0001697320761121965,1.2159582358877914e-05
2,0.0003208882667055331,0.0004072615087417061,0.00014952862014259926,0.0001589278652291703,0.0003422352096096638,0.00027923912922069944,0.0002993049473999268,3.384183828865584e-05,9.750566074530439e-05,0.0003931598296037192
3,1.799373458161868e-06,3.604084148156691e-06,3.647039515673152e-06,3.6959968657946577e-06,3.760826479227075e-06,1.1169565168827978e-05,3.695122807406504e-06,1.128061276288528e-05,1.8056603841723034e-05,1.2159582358877914e-05
4,0.004230327000138551,0.004133884517935725,0.003986214190630755,0.004424108248356206,0.0037871522645816645,0.003898178243920964,0.0029154518950437317,0.005170280849655753,0.0046766603950062656,0.003911332325439062
...,...,...,...,...,...,...,...,...,...,...
9038,1.799373458161868e-06,3.604084148156691e-06,3.282335564105837e-05,3.6959968657946577e-06,3.760826479227075e-06,3.350869550648393e-05,3.695122807406504e-06,3.760204254295093e-06,3.6113207683446065e-06,1.2159582358877914e-05
9039,5.997911527206226e-07,1.0812252444470073e-05,4.741151370375098e-05,3.6959968657946577e-06,1.1282479437681224e-05,3.7231883896093258e-06,3.695122807406504e-06,1.8801021271475468e-05,3.6113207683446065e-06,4.053194119625971e-06
9040,1.9793108039780547e-05,3.604084148156691e-06,2.5529276609712067e-05,3.6959968657946577e-06,3.760826479227075e-06,3.7231883896093258e-06,3.325610526665854e-05,3.760204254295093e-06,1.083396230503382e-05,4.053194119625971e-06
9041,1.799373458161868e-06,3.604084148156691e-06,3.647039515673152e-06,3.6959968657946577e-06,3.384743831304367e-05,4.095507228570259e-05,3.695122807406504e-06,1.128061276288528e-05,3.6113207683446065e-06,1.2159582358877914e-05
9042,7.797284985368095e-06,3.604084148156691e-06,1.0941118547019456e-05,3.6959968657946577e-06,3.760826479227075e-06,3.7231883896093258e-06,3.695122807406504e-06,3.760204254295093e-06,3.6113207683446065e-06,1.2159582358877914e-05

In [10]:
y_pred = KMeans(n_clusters=20, random_state=9).fit_predict(X)

d={}
for i in range(len(y_pred)):
    p=y_pred[i]
    if p in d:
        d[p].append(i)
    else:
        d[p]=[i]

In [14]:
pre=np.sum(X.astype(float),axis=1)
pre

0       0.012031
1       0.000870
2       0.002482
3       0.000073
4       0.041134
          ...
9038    0.000102
9039    0.000108
9040    0.000112
9041    0.000118
9042    0.000057
Length: 9043, dtype: float64

In [23]:
for p in d:
    if len(d[p])>10:

37
1020
329
7347
15
1
17
2
2
154
1
1
8
3
2
3
67
1
1
32

In [28]:
pre[d[0]]

1       0.000870
5       0.001496
20      0.001346
25      0.001246
33      0.001327
          ...
8214    0.000601
8303    0.000847
8326    0.000833
8396    0.000786
8913    0.000647
Length: 1020, dtype: float64

In [41]:
y=np.argsort(pre[d[0]])
y

1       843
5       470
20      404
25      203
33      943
       ...
8214     64
8303    604
8326    488
8396    581
8913    486
Length: 1020, dtype: int64

In [44]:
y[len(y)-1]

408

In [45]:
y[1]

843

In [15]:
with open(r'E:\Django\recommend\BTM-master\BTM\output\voca.txt','r')as f:
    rows=f.readlines()
    voca=pd.DataFrame([row.strip().split('\t') for row in rows])
voca

         0     1
0        0    距离
1        1    公路
2        2    公交
3        3    陆线
4        4    建议
...    ...   ...
9038  9038     香
9039  9039     股
9040  9040    纸篓
9041  9041    绿皮
9042  9042  最低气温

[9043 rows x 2 columns]

In [49]:
pre

0       0.012031
1       0.000870
2       0.002482
3       0.000073
4       0.041134
          ...
9038    0.000102
9039    0.000108
9040    0.000112
9041    0.000118
9042    0.000057
Length: 9043, dtype: float64

In [16]:
voca['pre']=pre
voca['y']=clusterid
voca

         0     1       pre   y
0        0    距离  0.012031  16
1        1    公路  0.000870  17
2        2    公交  0.002482  18
3        3    陆线  0.000073   4
4        4    建议  0.041134  16
...    ...   ...       ...  ..
9038  9038     香  0.000102   6
9039  9039     股  0.000108   2
9040  9040    纸篓  0.000112  10
9041  9041    绿皮  0.000118   6
9042  9042  最低气温  0.000057  15

[9043 rows x 4 columns]

In [17]:
voca[voca['y']==0].sort_values('pre',ascending=False)[:10][1]

521      身份证
964       内容
1493      事件
1243      餐具
59        细心
1859      典型
1246      上菜
1038      火锅
6105      套票
1116    公交车站
Name: 1, dtype: object

In [20]:
for i in range(20):
    print(list(voca[voca['y']==i].sort_values('pre',ascending=False)[:15][1]))

['身份证', '内容', '事件', '餐具', '细心', '典型', '上菜', '火锅', '套票', '公交车站', '箱子', '座位', '油漆味', '速', '心想']
['大家', '水', '声音', '问', '宽带', '电脑', '钱', '信用卡', '床单', '优点', '事', '住店', '结账', '住客', '酒店设施']
['面', '对方', '柜子', '冷水', '情侣', '热心', '最让人', '特地', '价值', '商店', '满地', '开发票', '共', '楼顶', '男友']
['前台', '服务员', '结果', '饭店', '楼层', '出租车', '浴室', '服务生', '房间内', '办理', '马路', '效果', '阳台', '字', '订房']
['咖啡', '歉意', '代理', '动作', '湖景', '客观', '自带', '职员', '饮食', '工程部', '世纪', '停车费', '地震', '同志', '船']
['菜', '步行', '马桶', '购物', '水平', '孩子', '实际', '景点', '大厦', '房子', '大门', '恶心', '网速', '气愤', '地板']
['报纸', '小伙子', '效率', '无人', '商业街', '销售部', '稀饭', '痕迹', '形象', '一条街', '自助餐厅', '水管', '山', '怪味', '入住率']
['宾馆', '时候', '床', '经理', '车', '火车站', '意见', '小', '游泳池', '大酒店', '淋浴', '大厅', '面积', '价钱', '拖鞋']
['健身房', '经济型', '行程', '洗衣机', '保险箱', '液晶', '商业', '商业区', '老鼠', '夜市', '火', '字条', '栈桥', '宗旨', '价格合理']
['同事', '停车场', '照片', '装饰', '江景', '苍蝇', '产品', '瓶', '错误', '整理', '淡季', '世界', '装潢', '遭遇', '衷心']
['发票', '套餐', '假日酒店', '优质', '体验', '两张床', '待遇', '价格比', '三人间', '人房', '抽屉', '角落', '小孩子', '品位', '奇差']
['山景', '集团', '快捷酒店', '短信', '门卫', '上车', '职业', '状态', '汉庭', '压力', '冷风', '单据', '小气', '技术人员', '电器']
['先生', '起码', '浴袍', '女孩', '窗子', '总机', '图片', '木头', '报', '间房', '喇叭', '小区', '污迹', '手续费', '蛤蟆']
['噪音', '习惯', '理由', '差', '特价', '经', '程度', '散步', '领导', '旅客', '港币', '省', '地区', '单人床', '音乐']
['风景', '礼貌', '小心', '处', '订单', '银行', '客房部', '评论', '水龙头', '竞争力', '服务台', '解决问题', '电源', '床上用品', '区别']
['的士', '龙头', '垃圾', '茶', '理想', '楼梯', '洗衣', '问候', '头发', '值', '咖啡厅', '绿色', '观景', '散客', '冷气']
['酒店', '早餐', '携程', '客人', '设施', '价格', '房', '时', '环境', '有点', '大堂', '餐厅', '地方', '态度', '空调']
['墙', '导游', '被褥', '花', '前厅', '澡', '报警', '车库', '前门', '损失', '太太', '出去玩', '密码', '枕套', '心理']
['小孩', '异味', '理', '颜色', '浴巾', '客服', '一流', '果盘', '布局', '鱼', '景房', '回家', '路程', '服务费', '公交']
['房间', '感觉', '人', '问题', '楼', '卫生间', '电话', '朋友', '客房', '人员', '总体', '性价比', '热情', '行李', '商务']

In [59]:

from Bio.Cluster import kcluster

ModuleNotFoundError: No module named 'Bio'

In [1]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from Bio.Cluster import kcluster
from Bio.Cluster import clustercentroids

In [10]:
clusterid, error, nfound = kcluster(X.to_numpy(), 20, dist='u')

In [13]:
pd.Series(clusterid).value_counts()

17    841
6     791
10    771
15    760
2     717
4     700
0     641
12    593
11    575
13    347
18    338
9     286
14    269
8     261
7     254
5     254
3     195
16    157
1     149
19    144
dtype: int64